:root {
    --prim-color-white: #fffffff7;
    --prim-color-black: #000000f7;
    --prim-color-grey: #B9BABC;
    --prim-color-lightBlue: #2E388B;
    --prim-color-blue: #151541;
    --sec-color-grey: #6A6A6A;
    --sec-color-green: #51726D;
    --sec-color-yellow: #F39922;
}