html,body{
  overflow: hidden;
  width:100vw;
  height:100%;
  margin: 0;
}

body{
  overflow: scroll;
  line-height: 1.7rem;
}

h1, h2, h3{
  font-family: nexa_bold, sans-serif;
}

p{
  font-family: BentonSans_Regular, sans-serif;
}

body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: nexa_light, sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration:none;
  color: inherit;
}

a:hover {
  color: #B9BABC;
}