.footer--wrapper{
    width: 100vw;
    text-align:center;
    margin: auto;
    background:var(--prim-color-grey);
    color: var(--prim-color-white);
    padding:1vh 0;
}

.footer-container{
    margin: auto;
    text-align:center;
}

.footer-text:hover{
    color: var(--prim-color-blue);
    cursor: pointer;
}

@media only screen and (max-width: 650px) {
    .footer--wrapper{
        font-size: 0.8rem;
    }
}

.footer-container--socials{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0;
    height: auto;
}

.footer-socials--icon {
    font-family: nexa_bold;
    margin: 0 2vw;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: .7;
}
.ln{
    background:#0e76a8;
}
.fb{
    background:#4267B2;
}
.ig{
    background:#4c68d7;
}

.footer-socials--icon:hover,.footer-socials--icon:focus{
    opacity: 1;
}
